html, body {
  margin: 0;
  border: 0;
  height: 100%;
}

body {
  padding: 5px;
  overflow: hidden;
  font-family: arial, sans-serif;
}

details {
  width: auto;
  outline: none;
  display: flex !important;
  background-color: #f7f7f7;
  margin-right: 0 !important;
  border: solid 1px rgba(0,0,0,0.1);
}

details[open] {
  background-color: #fff;
}

summary {
  border: 0;
  margin: 0;
  color: #555;
  outline: none;
  cursor: pointer;
  font-size: 11px;
  user-select: none;
  padding: 14px 10px;
  font-family: monospace;
  text-transform: uppercase;
}

summary:focus {
  outline: none;
}

.hidden {
  display: none;
}

.header, .result {
  border: 0;
  padding: 0;
  width: 100%;
  height: auto;
  margin: auto;
}

.section, .toolbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  display: inline-flex;
  vertical-align: middle;
}

.section.fixed {
  top: 5px;
	border: 0;
	margin: 0;
	right: 5px;
	padding: 0;
	z-index: 11;
	display: block;
	position: fixed;
	text-align: right;
	background-color: transparent;
}

.section {
  margin-right: 2px;
  margin-bottom: 5px;
}

.section button:last-child {
  margin-right: 0;
}

.section select, .section button, .section input[type='file'] {
  margin: 0;
  color: #555;
  width: 52px;
  cursor: auto;
  height: 42px;
  outline: none;
  min-width: 52px;
  max-width: 52px;
  padding: 0 10px;
  font-size: 12px;
  cursor: pointer;
  overflow: hidden;
  background: #fff;
  user-select: none;
  margin-right: 5px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-family: monospace;
  text-overflow: ellipsis;
  transition: 300ms ease all;
  border: solid 1px rgba(0,0,0,0.1);
}

.section select:hover, .section button:hover {
  background-color: rgba(0,0,0,0.05);
}

.section select, .section button {
  font-size: 11px;
  text-transform: uppercase;
}

.section select {
  padding-left: 5px;
}

.section svg {
  fill: #777;
  pointer-events: none;
  vertical-align: middle;
}

.settings {
  height: 250px;
  margin: 0 5px;
  padding: 5px 0;
  max-height: 250px;
  overflow-y: scroll;
  margin-bottom: 5px;
  border: solid 1px rgba(0,0,0,0.05);
}

.settings table {
  border: 0;
  width: 100%;
  margin: auto;
  padding: 0 5px;
  border-spacing: 5px;
}

.settings table tr td {
  padding: 0;
  padding-left: 10px;
  background-color: #f7f7f7;
  border: solid 1px rgba(0,0,0,0.05);
}

.settings table tr td input {
  border: 0;
  float: right;
  outline: none;
  color: #0075ff;
  font-size: 12px;
  font-family: monospace;
  vertical-align: middle;
  box-sizing: border-box;
  border-left: solid 1px rgba(0,0,0,0.1);
}

.settings table tr td input[disabled] {
  color: #777 !important
}

.settings table tr td input[type='text'], 
.settings table tr td input[type='number'] {
  padding: 10px;
  background: #fff;
}

.settings table tr td input[type='text'] {
  width: 175px;
}

.settings table tr td input[type='number'] {
  width: 90px;
}

.settings table tr td input[type='checkbox'] {
  padding: 0;
  margin: 10px;
  cursor: pointer;
}

.settings table tr td label {
  margin: 0;
  color: #555;
  min-width: 50%;
  padding: 10px 0;
  font-size: 12px;
  cursor: pointer;
  text-align: left;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  font-family: monospace;
}

.input, .output {
  height: auto;
  margin: 0 auto;
  vertical-align: top;
  display: inline-block;
  width: calc(50% - 3px);
  box-sizing: border-box;
  border: solid 1px rgba(0,0,0,0.1);
}

.input {float: left}
.output {float: right}

.input textarea, .output textarea {
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 12px;
  min-height: 200px;
  font-family: monospace;
}

.result .CodeMirror {
  color: #333;
  height: 100%;
  font-size: 12px;
  line-height: 18px;
}

#fileio input {
  margin: 0;
  width: 32px;
}

#beautifybutton, #language {
  width: 109px;
  max-width: unset;
}

@media (max-width: 700px) {
  .section {
    display: flex;
    margin-right: 0;
  }
  .input, .output {
    width: 100%;
    float: unset;
    margin: auto;
    height: 300px;
    display: block;
    margin-bottom: 5px;
    border: solid 1px rgba(0,0,0,0.1);
  }
}

@media (max-width: 500px) {
	#support, #donation {
		display: none;
	}
}

@media (max-width: 400px) {
  .section select, .section button, .section input[type='file'] {
    width: 42px;
    min-width: 42px;
    max-width: 42px;
  }
  #beautifybutton, #language {
    width: 90px;
  }
  .toolbar {
		display: none !important;
	}
}

@media (max-width: 300px) {
  .section select, .section button, .section input[type='file'] {
    width: 32px;
    min-width: 32px;
    max-width: 32px;
  }
  #beautifybutton, #language {
    width: 70px;
  }
}

html[context="webapp"] .toolbar {
  display: none;
}